$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$bg-color: #F4F3EA;
$primary-color: #333D51;
$secondary-color: #D3AC2B;
$tertiary-color: #CBD0D8;
$body-bg: $bg-color;

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

main {
  background-color: $secondary-color
}
